$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #07375E,
    ),
    grey: (
        1:#F3F8F7,
    ),
    text: (
        body:#07375E,
        1:#9FB6C9,
        2:#5E7488,
        3: #A7B8C2,
    ),
    theme: (
        primary: #07375E,
        secondary: #59C7B1,
        blue:#137C96,
        pink: #137C96,
        sky: #59C7B1,
    ),
    border: (
        primary: #E3EBEA,
        secondary:#C6D4D6,
    ),
    icon:(
        blue:#137C96,
        blue-light:#E7F2F5,
        green: #59C7B1,
        green-light: #EAF8F4,
        pink: #07375E,
        pink-light: #E6EDF3,
        sky: #137C96,
        sky-light: #E7F2F5,
        red:#B3261E,
        tweet:#1DA1F2,
        fb:#4267B2,
        skype:#00A6E4,
    )
);
